@model RecipeViewModel

@{
    ViewData["Title"] = "FindRecipe";
}

@*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">*@
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0-1/css/all.min.css" />

<header class="text-center welcomeheader">
    <h1 class="headertitle">Geen idee wat te eten?</h1>
    <p class="headerundertitle">Vul elk veld in en vind een perfect recept voor jou</p>

    <div>
        <form asp-controller="Recipe">
            <select class="form-select" aria-label="Default select example" asp-for="@Model.Category" required>
                <option selected disabled>Kies een categorie</option>
                <option value="Voorgerecht">Voorgerecht</option>
                <option value="Hoofdgerecht">Hoofdgerecht</option>
                <option value="Nagerecht">Nagerecht</option>
            </select>
            <select class="form-select" aria-label="Default select example" asp-for="@Model.PreparationTime">
                <option selected disabled>Kies een bereidingsduur</option>
                <option value="15">15</option>
                <option value="20">20</option>
                <option value="30">30</option>
            </select>

            <select class="form-select" aria-label="Default select example" asp-for="@Model.PersonAmount">
                <option selected disabled>Kies voor hoeveel personen</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
            </select>

            <select class="form-select" aria-label="Default select example" asp-for="@Model.Type" required>
                <option selected disabled>Kies een type</option>
                <option value="Vegetarisch">Vegetarisch</option>
                <option value="Vlees">Vlees</option>
            </select>

            <select class="form-select" aria-label="Default select example" asp-for="@Model.IngredientViewModel.IngredientName">
                <option selected disabled>Kies een ingredient</option>
                @for (int i = 0; i < Model.IngredientViewModels.Count; i++)
                {
                    <option value="@Model.IngredientViewModels[i].IngredientName" name="hallo">@Model.IngredientViewModels[i].IngredientName</option>
                }
            </select>

            <div style="margin: 12px">
                <input asp-action="FindRecipe" type="submit" value="zoeken" class="btn btn-default purplebutton">
            </div>
        </form>
    </div>
</header>

@*witte kader, voor recepten zoeken op categorie etc*@
<div class="row seethroughsection">
    <div class="col-md-8">
        <h2 class="greenbold">Quick search</h2>
        <h5 style="padding: 32px 0px;">Minder specifiek zoeken kan! Alleen zoeken op categorie of type, of miss zelfs tijd, klik op een van de icoontjes en vind jouw recept!</h5>
        <p>
            <div class="btn">
                <a class="btn circlebutton inline-items" style="background-color: #fce181" asp-controller="Recipe" asp-action="FindRecipeByCat" asp-route-category="Voorgerecht"><i class="fas fa-bread-slice" aria-hidden="true"></i></a>
                <p style="display: block; text-align: center; margin-right: 10px; font-weight: bold">Voorgerecht</p>
            </div>
            <div class="btn">
                <a class="btn circlebutton inline-items" style="background-color: #fce181" asp-controller="Recipe" asp-action="FindRecipeByCat" asp-route-category="Hoofdgerecht"><i class="fas fa-hamburger" aria-hidden="true"></i></a>
                <p style="display: block; text-align: center; margin-right: 10px; font-weight: bold">Hoofdgerecht</p>
            </div>
            <div class="btn">
                <a class="btn circlebutton inline-items" style="background-color: #fce181" asp-controller="Recipe" asp-action="FindRecipeByCat" asp-route-category="Nagerecht"><i class="fas fa-ice-cream" aria-hidden="true"></i></a>
                <p style="display: block; text-align: center; margin-right: 10px; font-weight: bold">Nagerecht</p>
            </div>
            <div class="btn">
                <a class="btn circlebutton inline-items" style="background-color: #9fedd7" asp-controller="Recipe" asp-action="FindRecipeByType" asp-route-type="Vlees"><i class="fas fa-drumstick-bite" aria-hidden="true"></i></a>
                <p style="display: block; text-align: center; margin-right: 10px; font-weight: bold">Vleesgerecht</p>
            </div>           
        </p>
    </div>

    <div class="col-md-4 text-center two-thirdpadding">
        <p>
            <div class="btn">
                <a class="btn circlebutton" asp-controller="Recipe" asp-action="FindRecipeByTime" asp-route-time="20"><i class="fas fa-clock" aria-hidden="true"></i></a>
                <p style="display: block; text-align: center; margin-right: 10px; font-weight: bold">< 20 min.</p>
            </div>
            <div class="btn">
                <a class="btn circlebutton" asp-controller="Recipe" asp-action="FindRecipeByTime" asp-route-time="40"><i class="fas fa-clock" aria-hidden="true"></i></a>
                <p style="display: block; text-align: center; margin-right: 10px; font-weight: bold">< 40 min.</p>
            </div>
            <div class="btn">
                <a class="btn circlebutton inline-items" style="background-color: #9fedd7" asp-controller="Recipe" asp-action="FindRecipeByType" asp-route-type="Vegetarisch"><i class="fas fa-seedling" aria-hidden="true"></i></a>
                <p style="display: block; text-align: center; margin-right: 10px; font-weight: bold">Vegetarisch</p>
            </div>
            <div class="btn">
                <a class="btn circlebutton" asp-controller="Recipe" asp-action="FindRecipeByTime" asp-route-time="60"><i class="fas fa-clock" aria-hidden="true"></i></a>
                <p style="display: block; text-align: center; margin-right: 10px; font-weight: bold">< 60 min.</p>
            </div>
        </p>
    </div>
</div>

@*wat kan je allemaal doen, grijze kader*@
<div class="row greysection">
    <div class="col-md-8">
        <h2 class="coralbold">Wat valt er te doen?</h2>
        <h5 style="padding: 32px 0px ">Naast recepten zoeken, zijn er ook nog andere dingen te doen. Kijk vooral even rond!</h5>
        <p class="greenbold">- Log in om een review van je favoriete recept te schrijven</p>
        <p class="greenbold"> - Gloednieuwe recepten die zijn toegevoegd</p>
        <p class="greenbold"> - Of liever lekker browsen door ALLE recepten</p>
    </div>

    <div class="col-md-4 text-center two-thirdpadding">
        <i class="fas fa-search fa-icon"></i>
    </div>
</div>


@if (ViewBag.Message != null)
{
    <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Message");
            };
    </script>
}