@model IEnumerable<Receptenzoeker.Models.RecipeViewModel>

@{
    ViewData["Title"] = "ListAllRecipes";
}

<div class="dashboardlist">
    <h2 class="greenbold">Alle recepten:</h2>

    <p>
        <a asp-controller="Recipe" asp-action="CreateRecipe">Nieuwe recepten aanmaken</a>
    </p>
    <table class="table ">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>

                    <td>
                        <a class="text-dark" asp-area="" asp-controller="Recipe" asp-action="EditRecipe" asp-route-id="@item.ID"> Edit</a> |
                        <a class="text-dark" asp-area="" asp-controller="Recipe" asp-action="DetailsRecipe" asp-route-id="@item.ID"> Details</a> |
                        <a class="text-dark" asp-area="" asp-controller="Recipe" asp-action="DeleteRecipe" asp-route-id="@item.ID"> Delete</a> |
                        <a class="text-dark" asp-area="" asp-controller="Review" asp-action="ListRecipeReviews" asp-route-id="@item.ID"> Reviews</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
@if (ViewBag.Message != null)
{
    <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Message");
            };
    </script>
}

