@model IEnumerable<Receptenzoeker.Models.IngredientViewModel>

@{
    ViewData["Title"] = "ListAllIngredients";
}

<div class="dashboardlist">
    <h2 class="greenbold">Alle ingrediënten</h2>

    <p>
        <a asp-controller="Ingredient" asp-action="AddIngredient">Nieuw ingrediënt toevoegen</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IngredientName)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IngredientName)
                    </td>
                    <td>
                        <a class="text-dark" asp-area="" asp-controller="Ingredient" asp-action="EditIngredient" asp-route-id="@item.ID"> Edit</a> |
                        <a class="text-dark" asp-area="" asp-controller="Ingredient" asp-action="DeleteIngredient" asp-route-id="@item.ID"> Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@if (ViewBag.Message != null)
{
    <script type="text/javascript">

                window.onload = function () {
                    alert("@ViewBag.Message");
                };
    </script>
}

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
